<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinkdinLoginDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBDF2E8F1C22C2EE00B8EA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBDF2EA81C22C2EE00B8EA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBDF2EB31C22C2EE00B8EA09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
